Repository mmrakt/mimu-memo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: bun run check:fix
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun run tc
      exclude:
        - "*.test.*"
        - "*.spec.*"

pre-push:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: bun run check
    typecheck:
      run: bun run tc
    build:
      run: bun run build

fix: lefthook設定を最適化して品質チェックを安定化
  lefthook.yml
Due: none

fix: GitHub Actionsワークフローをpnpmからbunへ移行
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
Due: none

chore: pnpm -> bun
  .claude/architecture.md
  .claude/commands/check.md
  .claude/commands/lint-format.md
  .claude/commands/tc.md
  .claude/commands/test.md
  .claude/settings.json
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  app/memo/README.md
  package.json
  scripts/dev-watcher.ts
  tsconfig.json
Due: lint, typecheck

test: fix vitest setup and portfolio specs
  app/memo/services/tag-service.test.ts
  app/portfolio/__tests__/portfolio-client.test.tsx
  app/portfolio/services/__tests__/portfolio-service.test.ts
  vitest.setup.ts
Due: lint, typecheck

fix
  app/portfolio/services/__tests__/portfolio-service.test.ts
Due: lint

Update README.md
  app/memo/README.md
Due: none

fix: rename filename
  app/_components/footer.tsx
  app/_components/navigation.tsx
  app/memo/components/pagination.tsx
Due: lint, typecheck

chore: allow auto-merge of minor
  renovate.json
Due: lint

chore: relax biome naming convention for data imports
  biome.json
  biome.ultracite.jsonc
Due: lint

fix: lefthook setting
  lefthook.yml
Due: none

Update renovate.json
  renovate.json
Due: lint

fix: remove unused ts-expect-error
  app/portfolio/__tests__/portfolio-client.test.tsx
  vitest.config.ts
Due: lint, typecheck

feat: add Embabel agent memo and Java tag
  app/_contents/memo/embabel-agent-framework.md
  app/config/__tests__/constants.test.ts
  app/config/constants.ts
  app/memo/services/tag-service.ts
  public/tagIcon/java.svg
Due: lint, typecheck

chore: suppress vitest config type mismatch
  vitest.config.ts
Due: lint, typecheck

test: cover java tag in service
  app/memo/services/tag-service.test.ts
Due: lint

feat: 記事収集＆ドラフト作成自動化（仮）
  .github/workflows/generate-draft.yml
  .github/workflows/suggest-theme.yml
  app/_contents/types.ts
  app/memo/constants.ts
  app/memo/services/tag-service.test.ts
  app/memo/services/tag-service.ts
  scripts/fetch-sources.ts
  scripts/format-issue.ts
  scripts/generate-draft.ts
  scripts/select-theme.ts
  scripts/types.ts
Due: lint, typecheck

feat: add chrome devtools mcp memo
  app/_contents/memo/chrome-devtools-mcp.md
Due: none

chore: add blog review agent profile
  .claude/agents/blog-reviewer.md
Due: none

fix: blogger.md
  .claude/agents/blogger.md
Due: none

fix
  app/memo/services/slide-service.ts
  lefthook.yml
Due: lint, typecheck

Create effective-context-engineering-by-anthoropic.md
  content/memo/effective-context-engineering-by-anthoropic.md
Due: none

Update config.toml
  .codex/config.toml
Due: none

ci: add allowed_bots field
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix
  .github/workflows/claude-code-review.yml
Due: none

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix ci
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: ci
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix vitest config
  vitest.config.ts
Due: lint, typecheck

remove ignore comment
  vitest.config.ts
Due: lint, typecheck

fix: renovate
  renovate.json
Due: lint

fix: biome error
  app/career/components/simple-timeline.tsx
  app/memo/components/pagination.tsx
  app/memo/services/external-content/utils.ts
  app/memo/tag/[tag]/page/[page]/page.tsx
  biome.json
  biome.ultracite.jsonc
Due: lint, typecheck

chore: next devtools mcp
  .mcp.json
  tsconfig.json
Due: lint

Refactor: Use a reusable action for Bun setup and install
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
  bun.lock
  package.json
Due: lint

feat: Add setup-bun action
  .github/actions/setup-bun/action.yml
Due: none

Revert changes to Claude Code Review workflow files
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore: upgrade react and next
  bun.lock
  package.json
Due: lint
