Repository mmrakt/mimu-memo-new: changes, and which lefthook commands are due for each by the changed paths.
All: check, tc, test

check:
  run: bun check:fix {staged_files}
  stage_fixed: true

tc:
  run: bun tc {staged_files}
  stage_fixed: true

test:
  run: bun test {staged_files}
  stage_fixed: true

fix: deps
  pnpm-lock.yaml
Due: none

fix
  .gitignore
  app/config.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: check, tc, test

fix: add packageManager field
  package.json
Due: check, test

add: vercelIgnore
  .vercelignore
Due: none

fix
  .vercelignore
Due: none

fix
  .vercelignore
  next.config.ts
Due: check, tc, test

add memo
  app/_contents/memo/bundle-size-error-deploy-vercel.md
Due: none

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix GHA
  .github/workflows/auto-issue-resolver.yml
  .github/workflows/claude.yml
Due: none

fix: site url
  app/_utils/metadata.ts
  app/config.ts
Due: check, tc, test

chore: install vercel analytics
  app/layout.tsx
  package.json
  pnpm-lock.yaml
Due: check, tc, test

chore: install vercel speed insights
  app/layout.tsx
  package.json
  pnpm-lock.yaml
Due: check, tc, test

ci: add various workflow
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
  package.json
  pnpm-lock.yaml
Due: check, test

chore: add renovate.json
  renovate.json
Due: check, tc, test

fix
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix; check:format
  app/_utils/metadata.ts
  app/career/CareerAnimations.tsx
  app/config.ts
  app/globals.css
  app/layout.tsx
Due: check, tc, test

fix: renovate
  renovate.json
Due: check, tc, test

feat: add theme switcher with light/dark/system modes
  app/_components/Footer.tsx
  app/_components/Navigation.tsx
  app/_components/PageHeader.tsx
  app/_components/SocialLinks.tsx
  app/_components/ThemeToggle.tsx
  app/_components/ui/ExternalLinks.tsx
  app/_components/ui/HeroSection.tsx
  app/_components/ui/QuickNavigation.tsx
  app/_components/ui/SiteOverview.tsx
  app/_providers/ThemeProvider.tsx
  app/globals.css
  app/layout.tsx
  app/memo/[id]/not-found.tsx
  app/memo/[id]/page.tsx
  app/memo/components/MemoCard.tsx
  app/memo/components/Pagination.tsx
  app/memo/components/UrlPagination.tsx
  app/memo/lib/media-utils.ts
  app/memo/page.tsx
  app/memo/page/[page]/page.tsx
  app/memo/tag/[tag]/page.tsx
  app/memo/tag/[tag]/page/[page]/page.tsx
  app/memo/tags/page.tsx
  app/page.tsx
  public/tagIcon/icon-system-theme.svg
  tailwind.config.ts
Due: check, tc, test

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  tc: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}, but not: tsconfig.json, package.json
  test: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
